.empty {
    text-align: center;
}

mat-table {
    box-shadow: var(--mat-sys-level2);
}

.filters {
    gap: 10px;
    display: flex;
}

.good {
    color: #00b900;
}

.warning {
    color: #ffcc00;
}

.danger {
    color: #ff0000;
}

.mat-column-status {
    text-transform: uppercase;

    .connected {
        color: #00b900;
    }

    .disconnected {
        color: #ff0000;
    }
}

.delta{
    white-space: nowrap;
}

progress {
    border: 1px solid #969696;
    width: 100%;
    height: 30px;
}
progress::-webkit-progress-bar {
    background-color: transparent;
}
progress.good::-webkit-progress-value {
    background-color: #00b900;
}
progress.warning::-webkit-progress-value {
    background-color: #ffcc00;
}
progress.danger::-webkit-progress-value {
    background-color: #ff0000;
}
