<mat-card>
    <mat-card-header>
        <mat-card-title>NightDriver Monitor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="filters">
            <mat-form-field appearance="outline">
                <input
                    matInput
                    placeholder="Filter"
                    [(ngModel)]="filter"
                    (ngModelChange)="onApplyFilter()"
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-select
                    multiple="true"
                    [(ngModel)]="displayedColumns"
                    (selectionChange)="updateDisplayedColumns($event)"
                >
                    <mat-option
                        *ngFor="let column of columns"
                        [value]="column.value"
                    >
                        {{ column.key }}
                    </mat-option>
                </mat-select>
                <mat-label> Display Columns </mat-label>
            </mat-form-field>
        </div>
        <mat-table  [dataSource]="dataSource" [trackBy]="trackByFn">
            <ng-container matColumnDef="canvasName">
                <mat-header-cell *matHeaderCellDef> Canvas </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.canvasName }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="featureName">
                <mat-header-cell *matHeaderCellDef> Feature </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.featureName }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="host">
                <mat-header-cell *matHeaderCellDef> Host </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.hostName }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="size">
                <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.size }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="reconnectCount">
                <mat-header-cell *matHeaderCellDef> Cx </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="reconnect" [ngClass]="element.reconnectStatus">{{
                        element.reconnectCount || '--'
                    }}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fps">
                <mat-header-cell *matHeaderCellDef> FPS </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container
                        [ngTemplateOutlet]="compare"
                        [ngTemplateOutletContext]="{
                            $implicit: {
                                isConnected: element.isConnected,
                                status: element.fpsStatus,
                                first: element.featureFps,
                                second: element.canvasFps
                            }
                        }"
                    >
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="queueDepth">
                <mat-header-cell *matHeaderCellDef> Queue </mat-header-cell>
                <mat-cell *matCellDef="let element"> -- </mat-cell>
            </ng-container>
            <ng-container matColumnDef="buffer">
                <mat-header-cell *matHeaderCellDef> Buffer </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container
                        [ngTemplateOutlet]="compare"
                        [ngTemplateOutletContext]="{
                            $implicit: {
                                isConnected: element.isConnected,
                                status: element.bufferStatus,
                                first: element.bufferPosition,
                                second: element.bufferSize
                            }
                        }"
                    >
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="signal">
                <mat-header-cell *matHeaderCellDef> Signal Data </mat-header-cell>
                <mat-cell *matCellDef="let element"> -- </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delta">
                <mat-header-cell *matHeaderCellDef> Delta </mat-header-cell>
                <mat-cell *matCellDef="let element"> -- </mat-cell>
            </ng-container>
            <ng-container matColumnDef="flash">
                <mat-header-cell *matHeaderCellDef> Flash </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.flashVersion || '--' }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span [ngClass]="element.status">{{ element.status }}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="effect">
                <mat-header-cell *matHeaderCellDef> Effect </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.currentEffectName }}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <ng-container *ngIf="canvases().length === 0">
            <mat-card-content>
                <p class="empty">No canvases found. Try refreshing.</p>
            </mat-card-content>
        </ng-container>
    </mat-card-content>
</mat-card>

<ng-template #compare let-data>
    <ng-container *ngIf="data.isConnected">
        <span [ngClass]="data.status">{{ data.first }}</span>
        /
        <span>{{ data.second }}</span>
    </ng-container>
    <ng-container *ngIf="!data.isConnected"> -- </ng-container>
</ng-template>
