@use '@angular/material' as mat;

@include mat.core();

$mat-warn: #f44336;

$error-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$red-palette,
        ),
    )
);

:host {
    display: block;
    padding: 60px;
}

.error {
    padding: 10px;

    .mat-icon {
        vertical-align: bottom;
        @include mat.icon-color($error-theme, $color-variant: error);
    }}
