table {
    box-shadow: var(--mat-sys-level2);

    th,
    td {
        max-width: 100%;
        white-space: nowrap;
        padding: 0 8px;

        &.empty {
            text-align: center;
            padding: 20px;
        }
    }

    th.mat-column-select .select {
        display: flex;
        align-items: center;
    }
}

.filters {
    padding-top: 10px;
    gap: 10px;
    display: flex;
}

.good {
    color: #00b900;
}

.warning {
    color: #ffcc00;
}

.danger {
    color: #ff0000;
}

.delta {
    white-space: nowrap;
}

progress {
    border: 1px solid #969696;
    width: 100%;
    height: 30px;
}
progress::-webkit-progress-bar {
    background-color: transparent;
}
progress.good::-webkit-progress-value {
    background-color: #00b900;
}
progress.warning::-webkit-progress-value {
    background-color: #ffcc00;
}
progress.danger::-webkit-progress-value {
    background-color: #ff0000;
}

.mat-column-select {
    width: 96px;
}
.mat-column-canvasName {
    width: 100px;
}
.mat-column-featureName {
    width: 100px;
}
.mat-column-host {
    width: 140px;
}
.mat-column-size {
    width: 70px;
}
.mat-column-reconnectCount {
    width: 35px;
}
.mat-column-fps {
    width: 60px;
}
.mat-column-queueDepth {
    position: relative;

    .display-value {
        position: absolute;
        top: 15px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}
.mat-column-buffer {
    width: 80px;
}
.mat-column-signal {
    width: 60px;
}
.mat-column-dataRate {
    width: 70px;
}
.mat-column-delta {
    width: 120px;
}
.mat-column-flash {
    width: 50px;
}
.mat-column-status {
    width: 70px;
    text-transform: uppercase;

    .connected {
        color: #00b900;
    }

    .disconnected {
        color: #ff0000;
    }
}
.mat-column-effect {
    width: 160px;
}
.mat-column-actions {
    text-align: right;
    width: 40px;
}
