<div class="filters">
    <mat-form-field appearance="outline">
        <input
            matInput
            placeholder="Filter"
            [(ngModel)]="filter"
            (ngModelChange)="onApplyFilter()"
        />
        <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="filter = ''; onApplyFilter()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-select
            multiple="true"
            [(ngModel)]="displayedColumns"
            (selectionChange)="displayedColumnsSelectionChange($event)"
        >
            <mat-option *ngFor="let column of columns" [value]="column.value">
                {{ column.key }}
            </mat-option>
        </mat-select>
        <mat-label> Display Columns </mat-label>
    </mat-form-field>
    <button mat-raised-button (click)="openReorderColumnsDialog()">
        Reorder Columns
    </button>
</div>
<table mat-table [dataSource]="dataSource" [trackBy]="trackByFn">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-menu #actions="matMenu">
                <button
                    mat-menu-item
                    (click)="onStartCanvases(selection.selected)"
                >
                    Start Canvases ({{ selection.selected.length }})
                </button>
                <button
                    mat-menu-item
                    (click)="onStopCanvases(selection.selected)"
                >
                    Stop Canvas ({{ selection.selected.length }})
                </button>
            </mat-menu>
            <div class="select">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="onSelectAllChange($event)"
                    [checked]="areAllSelected()"
                    [indeterminate]="areAnySelected()"
                >
                </mat-checkbox>
                <button
                    *ngIf="selection.hasValue()"
                    mat-icon-button
                    [matMenuTriggerFor]="actions"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(element.id) : null"
                [checked]="selection.isSelected(element.id)"
            >
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="canvasName">
        <th mat-header-cell *matHeaderCellDef>
            <ng-container
                *ngTemplateOutlet="
                    sort;
                    context: {
                        $implicit: { key: 'canvasName', name: 'Canvas' }
                    }
                "
            ></ng-container>
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.canvasName }}
        </td>
    </ng-container>
    <ng-container matColumnDef="featureName">
        <th mat-header-cell *matHeaderCellDef>
            <ng-container
                *ngTemplateOutlet="
                    sort;
                    context: {
                        $implicit: { key: 'featureName', name: 'Feature' }
                    }
                "
            ></ng-container>
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button (click)="onViewFeatures(element)">
                {{ element.featureName }}<mat-icon>settings</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="host">
        <th mat-header-cell *matHeaderCellDef>
            <ng-container
                *ngTemplateOutlet="
                    sort;
                    context: { $implicit: { key: 'hostName', name: 'Host' } }
                "
            ></ng-container>
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.hostName }}
        </td>
    </ng-container>
    <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let element">
            {{ element.size }}
        </td>
    </ng-container>
    <ng-container matColumnDef="reconnectCount">
        <th mat-header-cell *matHeaderCellDef>Cx</th>
        <td mat-cell *matCellDef="let element">
            <span class="reconnect" [ngClass]="element.reconnectStatus">{{
                element.reconnectCount || '--'
            }}</span>
        </td>
    </ng-container>
    <ng-container matColumnDef="fps">
        <th mat-header-cell *matHeaderCellDef>FPS</th>
        <td mat-cell *matCellDef="let element">
            <ng-container
                [ngTemplateOutlet]="compare"
                [ngTemplateOutletContext]="{
                    $implicit: {
                        isConnected: element.isConnected,
                        status: element.fpsStatus,
                        first: element.featureFps,
                        second: element.canvasFps
                    }
                }"
            >
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="queueDepth">
        <th mat-header-cell *matHeaderCellDef>Queue</th>
        <td mat-cell *matCellDef="let element">
            <ng-container
                *ngIf="
                    element.isConnected && element.queueDepth !== null;
                    else empty
                "
                [ngTemplateOutlet]="queue"
                [ngTemplateOutletContext]="{
                    $implicit: {
                        value: element.queueDepth,
                        max: element.queueMaxSize,
                        status: element.queueStatus
                    }
                }"
            >
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="buffer">
        <th mat-header-cell *matHeaderCellDef>Buffer</th>
        <td mat-cell *matCellDef="let element">
            <ng-container
                [ngTemplateOutlet]="compare"
                [ngTemplateOutletContext]="{
                    $implicit: {
                        isConnected: element.isConnected,
                        status: element.bufferStatus,
                        first: element.bufferPosition,
                        second: element.bufferSize
                    }
                }"
            >
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="signal">
        <th mat-header-cell *matHeaderCellDef>Signal</th>
        <td mat-cell *matCellDef="let element">
            <span [ngClass]="element.wifiSignalStatus">{{
                element.wifiSignal
            }}</span>
        </td>
    </ng-container>
    <ng-container matColumnDef="dataRate">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.isConnected; else empty">
                {{ element.bandwidth | formatSize }}/s</ng-container
            >
        </td>
    </ng-container>
    <ng-container matColumnDef="delta">
        <th mat-header-cell *matHeaderCellDef>Delta</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.isConnected; else empty">
                <span class="delta" [ngClass]="element.deltaStatus">{{
                    element.delta | formatDelta
                }}</span>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="flash">
        <th mat-header-cell *matHeaderCellDef>Flash</th>
        <td mat-cell *matCellDef="let element">
            {{ element.flashVersion ? 'v' + element.flashVersion : '--' }}
        </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
            <ng-container
                *ngTemplateOutlet="
                    sort;
                    context: { $implicit: { key: 'status', name: 'Status' } }
                "
            ></ng-container>
        </th>
        <td mat-cell *matCellDef="let element">
            <span [ngClass]="element.status">{{ element.status }}</span>
        </td>
    </ng-container>
    <ng-container matColumnDef="effect">
        <th mat-header-cell *matHeaderCellDef>
            <ng-container
                *ngTemplateOutlet="
                    sort;
                    context: {
                        $implicit: { key: 'currentEffectName', name: 'Effect' }
                    }
                "
            ></ng-container>
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.currentEffectName }}
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let data">
            <mat-menu #parentMenu="matMenu">
                <button
                    mat-menu-item
                    (click)="onStartCanvases([data.id])"
                >
                    Start
                </button>
                <button
                    mat-menu-item
                    (click)="onStopCanvases([data.id])"
                >
                    Stop
                </button>
                <button mat-menu-item (click)="onDeleteCanvas(data)">
                    Delete
                </button>
            </mat-menu>
            <button
                (click)="$event.stopPropagation()"
                mat-icon-button
                [matMenuTriggerFor]="parentMenu"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <ng-template matNoDataRow>
        <tr>
            <td class="empty" [attr.colspan]="displayedColumns.length">
                No canvases found. Try refreshing.
            </td>
        </tr>
    </ng-template>
</table>

<ng-template #compare let-data>
    <ng-container *ngIf="data.isConnected; else empty">
        <span [ngClass]="data.status">{{ data.first }}</span>
        /
        <span>{{ data.second }}</span>
    </ng-container>
</ng-template>

<ng-template #queue let-data>
    <span *ngIf="data.value > QUEUE_MAX_SIZE" class="display-value"
        >{{ data.value }}
    </span>
    <progress
        [ngClass]="data.status"
        [value]="data.value"
        [max]="QUEUE_MAX_SIZE"
    ></progress>
</ng-template>

<ng-template #sort let-column>
    <button mat-button (click)="onSort(column.key)">
        <mat-icon *ngIf="column.key === sortColumn">{{
            sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward'
        }}</mat-icon>
        {{ column.name }}
    </button>
</ng-template>
<ng-template #empty>--</ng-template>
